
<div class="navbar-lewagon">
  <nav class="navbar navbar-light bg-light mb-3">
    <div class="nav-links">
      <%= link_to '+ Add a Cocktail', new_cocktail_path, class: 'btn btn-outline-success' %>
      <%= link_to 'Dicover a new Cocktail', cocktail_path(rand(1..10)), class: 'btn btn-outline-success' %>
    </div>
    <h3>Mr. Cocktail</h3>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</div>

<div class="card-columns">
    <% @cocktails.each do |cocktail| %>
        <div class="card ">
          <%= image_tag("https://loremflickr.com/320/240/#{cocktail.name}", class: "card-img-top") %>
          <%=link_to "#{cocktail.name}", cocktail_path(cocktail), class: "card-title p-3" %>
          <div class="card-body text-right">
              <%= link_to 'Remove', cocktail_path(cocktail), class: "btn btn-danger card-link w-50", method: "delete", data: { confirm: "Are you sure you want to delete #{cocktail.name}?"} %>
          </div>
        </div>

    <% end %>
</div>

