<div class="cocktail-card d-flex justify-content-between">

      <div class="ingredients-card">
        <h3> Description:</h3>
        <div class="d-flex">
        <div class="ingredients ">
          <% @cocktail.doses.each do |dose| %>
           <p> <%= dose.description %> ---> <%= dose.ingredient.name %></p>
          <% end %>
        </div>
        </div>

        <div class="ingredient-card-actions">
          <%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>
          <%= link_to '+ Add Dose', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
        </div>
      </div>


      <div class="cocktail-img">
        <% if @cocktail.photo.key %>
          <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <h1><%= @cocktail.name %></h1>
      </div>


  </div>

