
<div class="form-container cocktail-card">
  <div class="form-input">
    <%= simple_form_for([@cocktail, @dose]) do |f| %>
      <%= f.label "Dose description:" %>
      <%= f.input :description, label: false%>
      <%= f.label "Choose an ingredient:" %>
      <%= f.association :ingredient, collection: @ingredients, label: false %>
    <div class="form-action ">
      <%= f.submit "+ Add", class: "btn btn-primary " %>
    </div>
  </div>
  <% end %>
  <%= link_to 'Back', cocktail_path(@cocktail), class: "btn btn-primary " %>
  </div>
