
<div class="form-container cocktail-card">
  <div class="form-input">
    <%= simple_form_for([@cocktail, @dose], method: "post") do |f| %>
      <%= f.label "Dose description:" %>
      <%= f.input :description, label: false%>
      <%= f.label "Choose an ingredient:" %>
      <%= f.association :ingredient, collection: @ingredients, label: false, input_html: {multiple: true} %>
  </div>
  <div class="form-action">
    <%= f.submit "+ Add dose" %>
  </div>
  <% end %>
  <%= link_to 'Back', cocktail_path(@cocktail), class: "btn btn-primary" %>
  </div>
